.modal-box {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 1000px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.modal-content {
  width: 100%;
  padding: 20px;
}

.overview-content {
  display: flex;
  flex-direction: row; /* Default to row layout */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.overview-image {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-header-left {
  display: flex;
  align-items: center;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.photos-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  .modal-box {
    width: 80%;
    height: auto;
  }

  .overview-content {
    flex-direction: column;
    align-items: center;
  }

  .overview-image {
    max-width: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width: 992px) {
  .modal-box {
    width: 90%;
    height: auto;
  }

  .overview-content {
    flex-direction: column;
    align-items: center;
  }

  .overview-image {
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .overview-content {
    flex-direction: column;
    align-items: center;
  }

  .hide-on-mobile {
    display: none;
  }

  .modal-header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
  }

  .modal-header-left {
    margin-bottom: 10px;
  }

  .modal-header-left button {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .modal-title {
    margin-bottom: 10px;
  }

  .modal-photos {
    display: none; /* Hide photo section on smaller screens */
  }

  .photos-content {
    display: none; /* Hide photos content on smaller screens */
  }

  .overview-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .modal-box {
    width: 90%;
    height: auto;
  }

  .hide-on-mobile {
    display: none;
  }

  .overview-content {
    display: inline-block; /* Use inline-block for inline format */
    text-align: center; /* Center content */
    width: 100%;
  }

  .modal-header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 200px;
  }

  .modal-header-left {
    margin-bottom: 10px;
  }

  .modal-header-left button {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .modal-title {
    margin-bottom: 10px;
  }

  .modal-photos {
    display: none; /* Ensure the photo section remains hidden on very small screens */
  }

  .photos-content {
    display: none; /* Ensure the photos content remains hidden on very small screens */
  }

  .overview-image {
    display: block; /* Display image as block to ensure it behaves like inline content */
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px; /* Add some margin to separate it from text content */
  }
}
